<html>
    <title>Restaurantes - Cadastramento</title>
    <body>
        <h1>Adcionando restaurante</h1>
        <%= render partial: "form" %>
                
        <%= link_to 'Voltar', action: 'index' %>
    </body>

</html>
